---
title: Release Notes for Evolven Change Analytics for VMware Tanzu
owner: Partners
---
##<a id="ver"></a> v2.1.0

**Release Date:** Nov 8, 2020

Features included in this release:

* Credentials for Ops Manager and for PKS is stored now in VMware Tanzu (instead of Evolven in the previous version).
* Url for Ops and CF api are set on the tile setting page.
* Evolven agent will collect the applications content from Apps Manager only if they were modified since the last execution.
* New name given due to feature changes
* New version numbering to match name change

##<a id="ver"></a> v7.2.1

**Release Date:** Nov 8, 2020

Features included in this release:

* Upgrades the stemcell to Ubuntu Xenial 623
* Upgrades Evolven agent to version 7.2.1


##<a id="ver"></a> v6.2.7

**Release Date:** March 7, 2019

Features included in this release:

* Upgrades the stemcell to Ubuntu Xenial

##<a id="ver"></a> v6.2.7

**Release Date:** March 7, 2019

Features included in this release:

* Upgrades the stemcell to Ubuntu Xenial

##<a id="ver"></a> v6.2.6

**Release Date:** January 4, 2019

Features included in this release:

* Collect configuration of VMware Tanzu
* Collect configuration and inventory of applications running on VMware Tanzu
* Report collected data to Evolven Change Analytics Server for further processing and analysis