---
title: Release Notes for Evolven Change Analytics for PCF
owner: Partners
---
##<a id="ver"></a> v1.0.3

**Release Date:** June 24, 2019

Features included in this release:

* Client information moved from Evolven to PCF.
* Collect incrementally the configuration and the applications.
* New name as given to the release and as result changed the version as well. 

##<a id="ver"></a> v6.2.7

**Release Date:** March 7, 2019

Features included in this release:

* Upgrades the stemcell to Ubuntu Xenial

##<a id="ver"></a> v6.2.7

**Release Date:** March 7, 2019

Features included in this release:

* Upgrades the stemcell to Ubuntu Xenial

##<a id="ver"></a> v6.2.6

**Release Date:** January 4, 2019

Features included in this release:

* Collect configuration of Pivotal Cloud Foundry (PCF)
* Collect configuration and inventory of applications running on PCF
* Report collected data to Evolven Change Analytics Server for further processing and analysis
