---
title: Release Notes for Evolven Change Analytics Service Broker for PCF
owner: Partners
---


##<a id="ver"></a> v6.2.7 (Ex. v1.0.1)

**Release Date:** December 31, 2018

Features included in this release:

* Collect configuration of Pivotal Cloud Foundry (PCF).
* Collect configuration and inventory of applications running in PCF.
* Report collected data to Evolven Change Analytics server for further processing and analysis.
