---
title: Release Notes for Evolven Change Analytics Service Broker for PCF
owner: Partners
---


##<a id="ver"></a> v6.2.7

**Release Date:** December 30, 2018

Features included in this release:

* Collect configuration of Pivotal Cloud Foundry (PCF)
* Collect configuration and inventory of applications running on PCF
* Report collected data to Evolven Change Analytics Server for further processing and analysis
