---
title: Using Evolven Change Analytics Service Broker for PCF
owner: Partners
---

##<a id='using'></a> Using Evolven Change Analytics Service Broker for PCF

The Evolven Change Analytics Service Broker for PCF collects inventory and configuration of PCF platform and applications running on it out-of-the-box. Each consecutive scan of the PCF environment detects new granular changes introduced in the inventory and configuration. All the collected information is reported to an Evolven Change Analytics Server that aggregates, processes and analyzes information collected by the Evolven Change Analytics Service Broker for PCF and other types of Evolven collectors. 
The Evolven Change Analytics Server controls the scope and schedule of collections. Evolven administrators should access the Server Console to configure and to monitor collections. Interactive analysis of the collected data is also available in the Evolven Change Analytics Server. In order to learn more about the available functionality of Evolven Change Analytics, please access the User Guide provided with the installation of the Evolven Change Analytics Server.  
